name: Publish to Bintray

on:
  release:
    types: [published]
  workflow_dispatch:
    

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew curseforge uploadSubProjects --parallel --stacktrace
      env:
          BINTRAY_USER: oroarmor
          BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
          CURSE_API_KEY: ${{ secrets.CURSE_API_KEY }}
